.cardHousing{
    width: 90%;
    &__title{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 20px 0;
    }
    &__host{
        max-width: 150px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 10px;
    }
    &__tag{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    &__collapse{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        &--size{
            width: 45%;
        }
    }
}