.cardHousing{
    width: 90%;
    &__tag{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    &__collapse{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        &--size{
            width: 45%;
        }
    }
}