
.collapsable{
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title{
        background-color: $cd-primary;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.8em 0.8em;
        margin-top: 2em;
        border-radius: 0.3em;
        cursor: pointer;
        @media (max-width: 768px) {
            padding: 0.5em 0.5em;
            margin-top: 1.3em;
        }

        h2{
            color: #FFFFFF;
            font-weight: 500;
            font-size: 1.6em;
            @media (max-width: 768px) {
                font-size: 1em;
            }
        }

        .icon{
            color: #FFFFFF;
            width: 2em;
            height: 2em;
            transform: rotate(0deg);
            transition: transform 250ms linear;
            @media (max-width: 768px) {
                width: 1.3em;
                height: 1.3em;
            }

            &--over{
                transform: rotate(-180deg);
            }
        }
    }

    &__content {
        text-align: start;

        max-height: 0px;
        overflow: hidden;
        transition: max-height 2s ease-out;

        &--over{
            max-height: 100%;

            div, ul {
                top:0px !important;
            }
        }

        div, ul {
            background-color: #F6F6F6;
            border-radius: 0px 0px 0.3em 0.3em;
            padding: 17.5px;
            font-weight: 400;
            font-size: 1.1em;
            position: relative;
            top: -100px;
            transition: top 750ms ease;
            @media (max-width: 768px) {
                font-size: 0.9em;
            }
        }
    }
    
}