.starRating{
    font-size: 36px;
    padding: 5px;
    @media (max-width: 768px) {
        font-size: 18px;
    }
}

.starRating-grey{
    font-size: 36px;
    padding: 5px;
    color: grey;
    @media (max-width: 768px) {
        font-size: 18px;
    }
}