.tag{
    display: flex;
    align-items: center;
    max-width: 200px;
    color: white;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    padding: 5px 25px;
    background-color: $cd-primary;
    border-radius: 10px;
    @media (max-width: 768px) {
        max-width: 150px;
        font-size: 12px;
        padding: 3px 20px;
        border-radius: 5px;
    }
}