.title{
    font-weight: 500;
    font-size: 36px;
    @media (max-width: 768px) {
        font-size: 26px;
    }
}

.location{
    font-weight: 500;
    font-size: 18px;
    @media (max-width: 768px) {
        font-size: 14px;
    }
}