@import "../global.scss";

.card{
    width: 340px;
    height: 340px;
    border-radius: 10px;
    background: linear-gradient(180deg, $cd-primary 50%, rgba(0, 0, 0, 0.6) 100%);
    cursor: pointer;
    &__image{
        width: 325px;
        height: 275px;
        border-radius: 10px 10px 0 0;
        padding: 7px;
        object-fit: cover;
    }
    &__title{
        color: white;
        font-size: 18px;
        font-weight: 500;
        display: inline-block;
        text-align: start;
        margin-left: 20px;
    }
}