.bannerImage{
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    background: black;
    img{
        width: 1240px;
        height: 223px;
        object-fit: cover;
        border-radius: 25px;
        opacity: 0.7;
    }
}